.about {
    padding-top: 80px;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__descr {
        padding-top: 6px;
        text-align: center;
    }
    &__title {
        position: relative;
        padding-left: 12px;
        padding-top: 1px;
    }
    &__text {
        margin-top: 20px;
        font-size: 20px;
        line-height: 40px;
        padding: 0 80px;
    }
}
