.pricelist {
    margin-top: 120px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px 0 50px;
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 365px);
        grid-auto-rows: 44px;
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        justify-content: space-between;
        &:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: $main-color;
            top: 5px;
        }
        &-name {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-price {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            justify-self: end;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            grid-column: 1 / 3;
        }
    }
}
