.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/my_main_bg.jpg") no-repeat 50% / cover;
    padding: 205px 0 0 120px;
    color: #fff;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        letter-spacing: 3px;
        @include before_circle;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #fff;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
            color: #fff;
            transform: scale(1.2);
            text-decoration: none;
        }
    }
}
