.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    svg {
        width: 30px;
        height: 30px;
    }
    svg path {
        fill: $main-color;
    }
    &__link {
        transition: 0.5s;
        &:hover {
            transform: scale(1.2);
            svg path {
                fill: #014f86;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $main-color;
    }
    &__text {
        height: 120px;
        width: 25px;
        color: $main-color;
        letter-spacing: 3px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }
}
