@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .promo {
        padding: 205px 0 0 0;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template-columns: repeat(2, minmax(115px, auto)) / repeat(
                    2,
                    250px
                );
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal,
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
        &__link {
            &:hover {
                transform: scale(1);
            }
        }
    }
    .btn,
    .btn__contacts {
        height: 45px;
        background: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 12px 25px;
        &:hover {
            box-shadow: none;
        }
    }
    .hamburger {
        span {
            width: 30px;
            height: 3px;
        }
        span.long {
            width: 35px;
        }
    }
    .menu {
        &__link {
            font-size: 20px;
            &:hover {
                transform: none;
            }
        }
    }
    .about {
        padding-top: 40px;
        margin-bottom: 20px;
        &__text {
            font-size: 14px;
            padding: 0;
        }
    }
    .portfolio {
        padding-top: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
        padding: 0 10px;
        &_privacy {
            h1 {
                font-size: 22px;
            }
            h2 {
                font-size: 18px;
            }
        }
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__buttons {
            margin-top: 32px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .portfolio {
        &__wrapper {
            padding: 30px 0;
        }
    }
}
